@charset "UTF-8";

.clearƒix::after{
content: "";
display: block;
clear: both;
}
.blue--box {
  width: 200px;
  height: 60px;
  background: #a4b3e9;
}

.red--box {
  width: 200px;
  height: 60px;
  background: #a4b3e9;
}